<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a routerLink=""> MyMaterial </a></span>

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
    <button mat-button routerLink="/profile">Profile</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- sidenav soon -->
<!-- https://stackblitz.com/angular/yvgkvqqvopp?file=app%2Fsidenav-responsive-example.html -->
